<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/module1_Solution/assignment1-starter-code/scripts/angular.min.js"></script>
    <script src="/module1_Solution/assignment1-starter-code/scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="/module1_Solution/assignment1-starter-code/styles/app.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchApp">
   <div class="container" ng-controller="CheckIfTooMuch_Controller">
     <h1>Lunch Checker</h1>

         <div class="form-group" ng-style="customTextBoxBorder">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="txtLunchMenu"
             >
         </div>
         <div class="form-group">
             <button ng-click="checkIfTooMuch(txtName)"
             class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <div ng-style="customColor">
             <!-- Your message can go here. -->
             Lunch Menu Count : {{message_LunchStatus}}
              </br>
             Lunch Menu Count Ignore Empty Values: {{message_NonEmptyValue_LunchStatus}}
           </div>
         </div>
   </div>

</body>
</html>
